* {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}


/* header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.92);
    width: 100%;
    position: fixed;
    top: 0;
    height: 44px;
}

.wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}

.nav_products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 22px;
    max-width: 980px;
    margin: 0 auto;
    height: 48px;
}

.nav_responsive {
    display: none;
}

.apple_icon {
    padding-top: .5em;
}

.basket_icon {
    padding-top: .5em;
}

.search_icon {
    padding-top: 3em;
}

/* main */

.main {
    background-color: #fbfbfd;
}

.product-items_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-item_desription {
    margin-bottom: 1em;
}

.product_description-title {
    color: #1d1d1f;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}


.product_description-subtitle {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin-top: 10px;
}


.card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 2580px;
    height: 736px;
    background-size: 2580px 736px;
    background-repeat: no-repeat;
}

.card:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.macbook_container {
    background-image: url(../images/1.png);
}

.links {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    color: #06c;
    margin-top: 0.65em;
}

.buy_link {
    padding-left: 1em;
}


.product_description {
    padding-top: 4em;
    text-align: center;
}

.macboook_description {
    padding-right: 10em;
}


.iphone_container {
    background-image: url(../images/2.jpeg);
}

.charged_container {

    background-image: url(../images/3.jpeg);
}

.charged_name {
    font-style: italic;
    font-weight: bold;
}



.charged_name span {
    color: #ca2166;
}




/* footer */
footer {
    background-color: rgb(245, 245, 247);
}

.footer_description {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: normal;
    color: rgb(110, 110, 115);
    text-align: left;
}

.footer_container-item {
    max-width: 196px;
}

.footer_description p {
    padding-bottom: 0.9em;
    padding-top: 1em;
    border-bottom: 1px solid #6e6e73;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_item div {
    padding-bottom: 1em;
}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.footer_contacts-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_contacts-info div {
    padding-right: 10px;
}


@media screen and (max-width: 1068px) {}


@media screen and (max-width: 833px) {
    .nav_responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    .nav_products {
        display: none;
    }


    .footer_container {
        flex-direction: column;
    }

    .footer_container-item {
        max-width: 800px;
    }

    h4 {
        padding-bottom: 1em;
        border-bottom: 1px solid #6e6e73;
        margin-bottom: 0;
        width: 100%;
    }

    /* .line {
        display: block;
        border-bottom: 1px solid #6e6e73;
        width: 100%;
    } */

    .footer_item {
        display: flex;
    }


    .footer_item div {
        display: none;
    }


    .footer_description p {
        padding-bottom: 0;
        border-bottom: none;
    }

    .line_bottom {
        border-bottom: 1px solid #fbfbfd;
        width: 1.2em;
        margin-bottom: 1em;
    }

    .footer_contacts {
        display: flex;
        flex-direction: column;
    }

    .footer_contacts div {
        padding-bottom: 1em;
    }

    .footer_contacts-info {
        justify-content: flex-start;
    }

    .footer_contacts-info div {
        padding-right: 7px;
    }


    .footer_country {
        order: -1;
    }

    .footer_copyright {
        order: 0;
    }
}


@media screen and (max-width: 734px) {


    .product_description-title {
        font-size: 32px;
        line-height: 1.125;
    }



    .product_description-subtitle,
    .links {
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -.022em;
    }
}